body[data-theme='dark'] {
  background-color: rgb(30, 65, 49);
  color: rgb(250, 250, 226);
}

body[data-theme='light'] {
  background-color: rgb(255, 255, 240);
  color: rgb(30, 65, 49);
}

highlight {
  display: block;
  padding: 8;
  font-weight: 700;
}

highlight[highlight="blue"][data-theme='dark'] {
  background-color: rgba(82, 116, 154, 1);
}
highlight[highlight="blue"][data-theme='light'] {
  background-color: rgba(209, 228, 255, 1);
}

highlight[highlight="clear"] {
  background-color: none;
}

highlight p, highlight ul {
  margin-bottom: 0;
}

choice, branch {
  display: block;
  padding: 8;
  text-align: center;
  font-weight: 700;
  font-size: 120%;
  padding-top: 8;
  padding-bottom: 8;
  margin-top: 8;
  margin-bottom: 8;
}

choice[data-theme='dark'] {
  background-color: rgb(252, 166, 51);
}
choice[data-theme='light'] {
  background-color: rgb(255, 207, 143);
}
branch[data-theme='dark'] {
  background-color: rgb(82, 116, 154);
}
branch[data-theme='light'] {
  background-color: rgb(209, 228, 255);
}

p {
  margin-bottom: 8;
}

code {
  background-color: rgba(250, 250, 226, 0.2);
  font-style: italic;
}

blockquote {
  padding: 8;
  margin-bottom: 8;
  background-color: rgba(250, 250, 226, 0.15);
  border-color: rgb(255, 189, 100);
}

blockquote[data-theme='dark'] {
  color: rgb(235, 237, 240);
}
blockquote[data-theme='light'] {
  color: rgb(68, 73, 80);
}

blockquote>:last-child {
  margin-bottom: 0;
}

ul, ol {
  margin-left: 16;
}

*[color] {
  font-weight: 700;
}

*[color="red"][data-theme='dark'] {
  color: rgb(236, 139, 139);
}
*[color="red"][data-theme='light'] {
  color: rgb(192, 11, 11);
}

*[color="blue"][data-theme='dark'] {
  color: rgb(181, 204, 250);
}
*[color="blue"][data-theme='light'] {
  color: rgb(98, 130, 193);
}

*[color="green"] {
  color: rgb(3, 155, 40);
}
*[color="green"] {
  color: rgb(3, 155, 40);
}

*[color="gold"] {
  color: rgb(181, 158, 0);
}
*[color="gold"] {
  color: rgb(181, 158, 0);
}
